{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Choose how to disclose the probability
{% endblock %}

{% block content %}
	<p>The most likely value of your asset is {{ asset_est_value }}.</p>

	<p>The actual value of your asset is determined by drawing from a distribution of outcomes around {{ asset_est_value }}.</p>

	<p>Which type of reporting option do you want to choose?</p>

	{% for field in form %}
		<div class="controls">
			<ul>
			{% for choice in field %}
				<li>{{ choice }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}

	{% next_button %}
{% endblock %}
