/* Custom CSS for FHMP */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.7;
}

.formula-box {
	color: #28B463;
	background: #EAFAF1;
	border: 1px solid #D5F5E3;
	padding: 15px 20px;
	text-align: center;
	border-radius: 6px;
	margin-bottom: 20px;
}

.comprehension-check-questions label {
	display: block;
	margin-bottom: 20px;
}

.line-through {
	text-decoration: line-through;
}

.comprehension-check-questions .question {
	margin-top: 10px;
	border-top: 3px solid #ddd;
	padding-top: 20px;
	padding-bottom: 10px;
}

.comprehension-check-questions .correct {
	color: #28B463;
}

.comprehension-check-questions .incorrect {
	color: #E74C3C;
}

.red {
	color: #E74C3C;
}