{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Make bids on each seller's asset
{% endblock %}

{% block content %}
	<table class="table">
		<tbody>
			<tr>
				<th scope="col">
					Your budget
				</th>
				<td>{{ player.budget }}</td>
			</tr>
		</tbody>
	</table>

	<p>
		These bids are private to other buyers.
	</p>

	<div class="row">
		{% for seller in sellers %}
			<div class="col-md-12">
					<p><strong><u>Seller {{ seller.id }}</u></strong></p>
					<p>Seller {{ seller.id }} has chosen to disclose a range of {{ seller.reported_range }} points. </p>
					<p>Based on this range, the fact checker has given the Seller a grade of {{ seller.grade }}.</p>

					{% if seller.id == 1 %}
						{% formfield player.bid_asset1 label="How much will you bid for Seller 1's Asset?" %}
					{% elif seller.id == 2 %}
						{% formfield player.bid_asset2 label="How much will you bid for Seller 2's Asset?" %}
					{% else %}
						{% formfield player.bid_asset3 label="How much will you bid for Seller 3's Asset?" %}
					{% endif %}

					{% for round_history in seller.history %} 
						{{ round_history }}
					{% endfor %}
				</div>
		{% endfor %}
	</div>

	{% next_button %}

{% endblock %}
