{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Round Results
{% endblock %}

{% block content %}
<div class="row">
	{% for asset in assets %}
	<div class="col-md-12">
		<h3><u>Asset {{ asset.id }}</u></h3>
		<p><strong>Seller {{asset.id}}</strong> disclosed a range of <strong>{{ asset.reported_range }}
				points</strong> for their asset.</p>
		<p>The fact checker grade was {{ asset.seller_grade }}.</p>
		<p>The true value of asset {{ asset.id }} is <strong>{{ asset.true_value }}</strong>.</p>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Winning Bid</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-success">
					<td>{{ asset.winning_bid }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>

<p>{{ buyer_won_assets_message }}.</p>

{% next_button %}
{% endblock %}