{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
	Choose how to disclose the probability
{% endblock %}

{% block content %}
	<table class="table">
		<tbody>
			<tr>
				<th scope="col">
					Likely value of your asset
				</th>
				<td>{{ asset_est_value }}</td>
			</tr>

			<tr>
				<th scope="col">
					Your budget
				</th>
				<td>{{ player.budget }}</td>
			</tr>
		</tbody>
	</table>

	<p>The actual value of your asset is determined by drawing from a distribution of outcomes around {{ asset_est_value }}.</p>

	<p>Since you do not have enough budget to choose high reporting option, low reporting option will be automatically selected for you.</p>

	{% next_button %}
{% endblock %}
