{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Likelihood of Asset Value Example
{% endblock %}

{% block content %}
<p>
    As an example, if a seller was told that the likely value of the asset is 6 (so, in this example, # is 6). Please
    note that this is just an example, and the numbers we picked are not more or less likely than any other numbers we
    could have picked:
</p>
<ul>
    <li>There is a 43% chance the asset’s true value is 6</li>
    <li>There is a 20% chance the asset’s true value is 7</li>
    <li>There is a 20% chance the asset’s true value is 5</li>
    <li>There is a 1% chance the asset’s true value is any other number between 1 and 20 other than 5, 6, or 7</li>
</ul>

<p>The likelihood of each number generally looks like this around 6</p>
<img src="{% static 'SixDist.png' %}" />
<p> </p>
{% next_button %}

{% endblock %}
