{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Ground Rules
{% endblock %}

{% block content %}
<p>
  Before describing the experiment, it is important to establish two ground
  rules:
</p>

<ol>
  <li>
    <strong class="red">No talking or sharing.</strong> Please help maintain
    control over the experiment by not talking to your fellow participants in
    this session or to other students who might be participating in future
    sessions. Doing so is unlikely to help them and may harm our research.
    Please keep your eyes on only your own screen. If you have any questions,
    just raise your hand and the experimenter will assist you privately.
  </li>

  <li>
    <strong class="red">No Deception.</strong> The experimenter promises to
    carry out the experiment in the manner described in these instructions, with
    no deception of any form. We promise that your compensation will be paid to
    you and it will be determined exactly as described later in this session.
  </li>
</ol>

{% next_button %}
{% endblock %}