{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ground Rules
{% endblock %}

{% block content %}
	<p>
		Before describing the experiment, it is important to establish three ground rules:
	</p>

	<ol>
		<li>
			<strong class="red">No talking.</strong> Please help maintain control over the experiment by not talking to your fellow participants in this session or to other students who might be participating in future sessions. Please keep your eyes on only your own screen. If you have any questions, just raise your hand and the experimenter will assist you privately.
		</li>

		<li>
			<strong class="red">No Deception.</strong> The experimenter promises to carry out the experiment in the manner described in these instructions, with no deception of any form. We promise that your compensation will be paid to you and it will be determined exactly as described later in this session.
		</li>

		<li>
			<strong class="red">Privacy.</strong> Your responses are confidential. Neither your name nor your ID will appear on any form that records your decisions in the experiment. The only identifying mark associated with your decisions will be an anonymous participant number handed to you when you arrived at today’s session.
		</li>
	</ol>

    {% next_button %}

{% endblock %}
