{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
How much is each asset worth?
{% endblock %}

{% block content %}
<p>
    Each asset in this game has a true value between 1 and 20, but no one knows the true value until after the asset is
    sold. Instead, the seller is told an estimate (the most likely true value) of the asset, but, this may or may not
    end up being the actual asset’s true value. We will refer to the value the seller knows is the most likely value of
    the asset as "#" going forward. Even though # may not be the true asset value, it is usually close. We show this
    on the next screen.
</p>

{% next_button %}
{% endblock %}
