{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Points
{% endblock %}

{% block content %}
	<p>
		This research study has 3 parts: (1) these instructions and two practice sessions, (2) the main study, which consists of trading for 20 periods, and (3) an exit survey.
	</p>

	<h2>
		Player id = {{ role }}
	</h2>

	{% if player.role == 'buyer' %}
		<h2>
			How to earn points (Buyer)
		</h2>

		<p>
			Each period the sellers have an asset to sell. Each period, buyers will place a new bid for sellers’ assets, for 20 periods. Buyers bid on each asset. The buyer with the highest bid wins the asset. The winning buyer’s take-home pay for each asset for a single period is the true asset value minus the buyer’s bid. The non-winning buyer’s take-home pay is 0 points for that asset. A buyer’s total take-home pay is the sum of the 20 periods (not including the 2 practice periods).
		</p>

		<p>
			Example 1: True asset value = 300 points and Buyer A bids = 280 points, Buyer B bids = 260 points, Buyer C bids = 240 points. Buyer A’s (winner) take-home pay = 300 – 280 = 20 points, Buyer B’s take-home pay = 0 points, Buyer C’s take-home pay = 0 points.
		</p>

		<p>
			Example 2: True asset value = 100 points and Buyer A bids = 110 points, Buyer B bids = 120 points, Buyer C bids = 90 points. Buyer A’s take-home pay = 0 points, Buyer B’s (winner) take-home pay = 100 – 120 = (20 points), Buyer C’s take-home pay = 0 points.
		</p>

	{% else %}
		<h2>
			How to earn points (Seller)
		</h2>

		<p>
			Each period the sellers have an asset to sell. Buyers will place a new bid for sellers’ assets in each period, for 20 periods. Buyers bid on each asset. The buyer with the highest bid wins the asset. The sellers’ take-home pay is the highest bid minus any optional reporting fee. A seller’s total take-home pay is the sum of the 20 periods (not including the 2 practice periods).
		</p>

		<p>
			Example 1: True asset value = 300 points, seller does not choose reporting option, and highest buyer bid is 280 points. Seller’s take-home pay = 280 points.
		</p>

		<p>
			Example 2: True asset value = 100 points, seller chooses reporting option that costs 30 points, and highest buyer bid is 120 points. Seller’s take-home pay = 120 – 30 = 90 points.
		</p>

	{% endif %}

    {% next_button %}
{% endblock %}
