{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    How will you get paid?
{% endblock %}

{% block content %}
	<p>
		Next, let’s talk about how you will be paid.
	</p>

	<p>
		We will pay everyone a $5.00 show-up fee before leaving today, but you can earn much more money during the session.  The amount of money you earn is based upon the total points you earn.  The key thing to remember is: <strong><em><u>The more points you earn, the more money you will be paid.</u></em></strong>
	</p>

	<p>
		Specifically, after we have finished collecting data for this study, you will be paid in US dollars using the following formula:
	</p>

	<p>
		<strong>US$ Payment = (Net Gain or Loss in Points + “Adjustment Factor”) x Exchange Rate
	</strong>
	</p>

	<p>
	We will send you an email when your payment is ready to be picked up.  The exchange rate and adjustment factor are estimated so that the average amount of money paid per person is about $25.  However, the amount you actually receive depends on how many points you earn today.  Thus, you could make a lot more or less than $25.
	</p>

	<p>
	Next, we will describe how you earn points.
	</p>

    {% next_button %}

{% endblock %}
