{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    How will I get paid?
{% endblock %}

{% block content %}
	<p>
		Next, let’s talk about how you will be paid.
	</p>

	<p>
		In exchange for a winning bid, <strong>buyers</strong> earn the true value of the asset less the amount paid
		for the asset.
	</p>

	<p>
		<strong>Sellers</strong> earn whatever the highest bid was for their asset.
	</p>

	<p>
		The actual cash payment you receive is based on the number of points you have at the end of the 20 rounds.
		Specifically, after we have finished collecting data for this study, you will be paid in US dollars using
		the following formula:
	</p>

	<div class="formula-box">
		US$ Payment = (Net Gain or Loss in Points + "Adjustment Factor") x Exchange Rate
	</div>

	<p>
	We will send you an email when your payment is ready to be picked up.  The exchange rate and adjustment factor are
		estimated so that the average amount of money paid per person is about $25.  However, the amount you actually
		receive depends on how many points you earn today.  Thus, you could make a lot more or less than $25.
	</p>


    {% next_button %}

{% endblock %}
