{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions: Seller Chooses a Reported Range
{% endblock %}

{% block content %}
<p>
    After each seller receives the Private Range, the seller does two things. First, the seller chooses to report a range of
    numbers to let buyers know what their asset value is likely to be. We will call the range the seller reports to
    buyers the Reported Range. 
</p>

<p>
    Second, the seller chooses whether to make their Reported Range less or more precise. A <strong><em>less
            precise</em></strong> Reported Range is 5-numbers wide (for example 4-8) while a <strong><em>more
            precise</em></strong> Reported Range is only 3 numbers wide (for example 5-7).
</p>

<p>Here are two important points:</p>
<ol type="a">
    <li>The seller must pay 2 points if they choose to report the more precise (3-number) range. The seller does not pay
        any points (0 points) if they choose to report the less precise (5-number) range.</li>
    <li>The seller can report any range. That is, the seller's Reported Range does not have to contain any numbers from the 
        Private Range they were given. For example, if the Private Range is 9-11, a seller could report a range of 0-5 or 8-12 
        or 16-20.</li>
</ol>

<p>
    In summary, the seller does two things each round:
</p>
<ol>
    <li>Pick a precision: after seeing #, the seller can choose to report a range that is 5 numbers wide (this is free) or 3 numbers wide (this costs the seller 2
        points).</li>
    <li>Report a range: after picking a precision, the seller can pick any range to report to buyers.</li>
</ol>

{% next_button %}

{% endblock %}
