{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Instructions: Seller Receives a Number
{% endblock %}

{% block content %}
<p>
    Now, that you understand the true value of an asset, let's talk about what happens in each of the 24 rounds of the
    game. Pay very close attention so that you can make as much money as possible.
</p>

<p>
    First, each seller receives a number # between 1 and 20. This number # represents the most likely value of their
    asset. Recall that # is not the true value, it is the most likely value. Only the seller knows the number #; no
    other person in the study knows the number the seller was given.
</p>

{% next_button %}

{% endblock %}