{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions: Buyers Bid on Assets
{% endblock %}

{% block content %}
	<p>
		All buyers see the seller’s range and the fact checker’s grade.
	</p>

    <p>
        Next, all buyers bid on the seller’s assets. The buyer can bid on as many assets as they want.
    </p>

    <p>
        For each asset, the buyer that bids the highest amount of coins wins that asset. The winning buyer pays
        the coins they bid to the seller in exchange for the asset.
    </p>
    <p></p>
    {% next_button %}

{% endblock %}
